.game-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.opponent {
    margin-right: 20px;
    position: relative;
    top: -150px;
}

.player {
    margin-left: 20px;
    position: relative;
    top: 160px;
}

.board {
    width: 500px;
    height: 500px;
}

.row {
    display: flex;
}

.cell {
    text-align: center;
    width: calc(500px / 9);
    height: calc(500px / 9);
    background-color: bisque;
    border: 1px solid;
}

.cell:hover {
    cursor: pointer;
}

.sub-board {
    width: 240px;
    height: 200px;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sub-cell {
    width: calc(200px / 3);
    height: calc(200px / 3);
    text-align: center;
    border: 1px solid;
}

